<p> #Employee Component</p>
<form [formGroup]="addEmployeeForm" #addEmployee (ngSubmit)="onSubmit(addEmployee)">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Employee Details
                </mat-panel-title>
                <mat-icon>account_circle</mat-icon>
            </mat-expansion-panel-header>

            <mat-form-field>
                <input matInput placeholder="Employee Id "  required formControlName="empId" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.empId.errors }"/>
                <div *ngIf="submitted && fval.empId.errors" class="alert alert-danger">
                    <div *ngIf="fval.empId.errors.required">
                        Employee Id is required
                    </div>
                    <div *ngIf="fval.empId.errors.pattern">
                        Employee Id must be a number.
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Employee Name " required formControlName="empName" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.empName.errors }"/>
                <div *ngIf="submitted && fval.empName.errors" class="alert alert-danger">
                    <div *ngIf="fval.empName.errors.required">
                        Employee Name is required
                    </div>
                    <div *ngIf="fval.empName.errors.maxLength">
                        Maximum Length must be 100.
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Designation " required formControlName="designation" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.designation.errors }"/>
                <div *ngIf="submitted && fval.designation.errors" class="alert alert-danger">
                    <div *ngIf="fval.designation.errors.required">
                        Designation is required
                    </div>
                </div>
            </mat-form-field>
            <div>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <mat-select matNativeControl required formControlName="primaryWorkLocation" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.primaryWorkLocation.errors }">
                        <mat-option value="Mepz">Mepz</mat-option>
                        <mat-option value="Guindy">Guindy</mat-option>
                        <mat-option value="HTCHyderabad"> HTCHyderabad</mat-option>
                        <mat-option value="Ciber">Ciber</mat-option>
                    </mat-select>
                    <div *ngIf="submitted && fval.primaryWorkLocation.errors" class="alert alert-danger">
                        <div *ngIf="fval.primaryWorkLocation.errors.required">
                            Location is required
                        </div>
                    </div>
                </mat-form-field>
            </div>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="HtcExperience " required formControlName="htcExperience" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.htcExperience.errors }"/>
                <div *ngIf="submitted && fval.htcExperience.errors" class="alert alert-danger">
                    <div *ngIf="fval.htcExperience.errors.required">
                        HtcExperience is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="OverallExperience " required formControlName="overallExperience" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.overallExperience.errors }"/>
                <div *ngIf="submitted && fval.overallExperience.errors" class="alert alert-danger">
                    <div *ngIf="fval.overallExperience.errors.required">
                        OverallExperience is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <mat-panel-title>
                PersonalDetails
            </mat-panel-title>
            <mat-form-field>
                <input matInput placeholder="Official Email Address " required formControlName="officialEmailAddr" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.officialEmailAddr.errors }"/>
                <div *ngIf="submitted && fval.officialEmailAddr.errors" class="alert alert-danger">
                    <div *ngIf="fval.officialEmailAddr.errors.required">
                        Official Email Address is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder=" Personal Email Address" required formControlName="emailAddr" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.emailAddr.errors }"/>
                <div *ngIf="submitted && fval.emailAddr.errors" class="alert alert-danger">
                    <div *ngIf="fval.emailAddr.errors.required">
                        Email Address is required
                    </div>
                    <div *ngIf="fval.emailAddr.errors.email">
                        Email Address is invalid
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Extension Number " required formControlName="extensionNumber"
                       class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.extensionNumber.errors }"/>
                <div *ngIf="submitted && fval.extensionNumber.errors" class="alert alert-danger">
                    <div *ngIf="fval.extensionNumber.errors.required">
                        Extension Number is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="Mobile Number "  required formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.mobileNumber.errors }"/>
                <div *ngIf="submitted && fval.mobileNumber.errors" class="alert alert-danger">
                    <div *ngIf="fval.mobileNumber.errors.required">
                        Mobile Number is required
                    </div>
                        <div *ngIf="fval.mobileNumber.errors.minLength">
                            Mobile number should be 10 digit number
                        </div>
                    <div *ngIf="fval.mobileNumber.errors.maxLength">
                        Mobile number should be 10 digit number
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder=" Alternative Mobile Number "formControlName="alternativeMobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.alternativeMobileNumber.errors }"/>
                <div *ngIf="submitted && fval.alternativeMobileNumber.errors" class="alert alert-danger">

                    <div *ngIf="fval.alternativeMobileNumber.errors.minLength">
                        Mobile number should be 10 digit number
                    </div>
                    <div *ngIf="fval.alternativeMobileNumber.errors.maxLength">
                        Mobile number should be 10 digit number
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-panel-title>
                Address
            </mat-panel-title>
            <mat-form-field>
                <input matInput placeholder="AddressLine " required formControlName="addressLine" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.addressLine.errors }"/>
                <div *ngIf="submitted && fval.addressLine.errors" class="alert alert-danger">
                    <div *ngIf="fval.addressLine.errors.required">
                        Address Line is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="City" required formControlName="city" class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && fval.city.errors }"/>
                <div *ngIf="submitted && fval.city.errors" class="alert alert-danger">
                    <div *ngIf="fval.city.errors.required">
                        City is required
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
                <input matInput placeholder="State " required formControlName="state" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.state.errors }"/>
                <div *ngIf="submitted && fval.state.errors" class="alert alert-danger">
                    <div *ngIf="fval.state.errors.required">
                        State is required
                    </div>
                </div>
            </mat-form-field>

            <mat-select-country countryFormControl="country" (onCountrySelected)="countrySelect($event)" required>
            </mat-select-country>
            &nbsp;

            <mat-form-field>
                <input matInput placeholder="Pincode " required formControlName="pincode" class="form-control" [ngClass]="{ 'is-invalid': submitted && fval.pincode.errors }"/>
                <div *ngIf="submitted && fval.pincode.errors" class="alert alert-danger">
                    <div *ngIf="fval.pincode.errors.required">
                        Pincode is required
                    </div>
                    <div *ngIf="fval.pincode.errors.minLength">
                        Pincode should be 6 digit.
                    </div>
                    <div *ngIf="fval.pincode.errors.maxLength">
                        Pincode should be 6 digit.
                    </div>
                </div>
            </mat-form-field>
            &nbsp;
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Project Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="projects">
                <div *ngFor="let project of projectsArray().controls; let i=index">
                    <div [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Project Name</mat-label>
                            <mat-select matNativeControl formControlName="projectName" class="form-control">
                                <mat-option value="NahoForms">NahoForms</mat-option>
                                <mat-option value="TheGeneral">TheGeneral</mat-option>
                                <mat-option value="Recap"> Recap</mat-option>
                                <mat-option value="HashStirngs">HashStrings</mat-option>
                                <mat-option value="Ole">Ole</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <mat-form-field>
                            <input matInput placeholder="Reporting To " formControlName="reportingTo"
                                   class="form-control"/>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                            <input matInput placeholder="Delivery Head" formControlName="deliveryHead"
                                   class="form-control"/>
                        </mat-form-field>
                        &nbsp;
                            <mat-form-field>
                                <input matInput placeholder="Project Location " formControlName="projectLocation"
                                       class="form-control"/>
                            </mat-form-field>
                        &nbsp;
                        <mat-form-field class="example-full-width">
                            <mat-label>Project Description</mat-label>
                            <textarea matInput placeholder="..." formControlName="projectDescription"
                                      class="form-control"></textarea>
                        </mat-form-field>
                        &nbsp;
                        <mat-checkbox formControlName="projectLocation">Active</mat-checkbox>
                        &nbsp;
                        <button (click)="removeProject(i)">Remove</button>
                    </div>
                </div>
            </div>
            <button type="button" (click)="addProject()">Add Project</button>
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Skills
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <div formArrayName="skills">
                    <div *ngFor="let skill of skillsArray().controls; let i=index">
                        <div [formGroupName]="i">
                            <mat-form-field>
                                <mat-label>Skill Name</mat-label>
                                <mat-select matNativeControl formControlName="skillName" class="form-control">
                                    <mat-option value="select">Select</mat-option>
                                    <mat-option value="Java">Java</mat-option>
                                    <mat-option value="SQL">SQL</mat-option>
                                    <mat-option value="SpringBoot"> Spring Boot</mat-option>
                                    <mat-option value="Hibernate">Hibernate</mat-option>
                                    <mat-option value="Angular">Angular</mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

                            <mat-form-field>
                                <mat-label>Experience</mat-label>
                                <input matInput formControlName="experience" class="form-control"/>
                            </mat-form-field>
                            &nbsp; &nbsp;
                            <button (click)="removeSkill(i)">Remove</button>
                        </div>
                    </div>
                </div>
                <button type="button" (click)="addSkill()">Add Skill</button>
            </mat-list>
        </mat-expansion-panel>
        <mat-action-row>
            <button type="submit" mat-button color="primary" [disabled]="!addEmployeeForm.valid">Submit</button>
        </mat-action-row>
    </mat-accordion>
</form>

