.search-employee {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

table {
  width: 100%;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  align:"right";
  width:250px;
  font-family: 'Helvetica', FontAwesome, sans-serif;

}

.delete{
  width: 20px;
  height: 10px;
}

.id{
    color: blue;
}

.header{
    font-family: 'Helvetica', FontAwesome, sans-serif;
}