<h3><span class="m-2">Employee's List</span></h3>

<div  align="right">
 <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
         placeholder= "Start searching for a Employee">
</div>&nbsp;

<div class="row ml-1">

  <button routerLink='/employeeDetails'>Add Employee</button>
  &nbsp;
  &nbsp;

  <table class="table table-bordered table-striped table-responsive">
    <thead class="header">
    <tr>
      <th>Employee Id</th>
      <th>Employee Name</th>
      <th>Designation</th>
      <th>Location</th>
      <th>Official EmailAddress</th>
      <th>Extn Number</th>
      <th>Mobile Number</th>
      <th>HTC Experience</th>
      <th>Total Experience</th>
    </tr>
    </thead>
    <tbody *ngFor="let employee of employeeList | filter:searchText">
    <tr>
      <div ng-include="'employee.component.html'">
        <td>
          <mat-icon (click)="editEmployee(employee)">edit</mat-icon>
        </td>
      </div>
      <td class="id" (click)="toggleModel(employee)">{{employee.empId}}</td>
      <td>{{employee.empName}}</td>
      <td>{{employee.designation}}</td>
      <td>{{employee.primaryWorkLocation}}</td>
      <td>{{employee.officialEmailAddr}}</td>
      <td>{{employee.extensionNumber}}</td>
      <td>{{employee.mobileNumber}}</td>
      <td>{{employee.htcExperience}}</td>
      <td>{{employee.overallExperience}}</td>

      <td>
       <mat-icon (click)="deleteModel(employee)">delete</mat-icon>
      </td>
    </tr>
    </tbody>
  </table>

  <!--list of skills & projects displaying-->

  <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">
            {{employeeObject.empName}}
          </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <b>Skills</b>
          <table class="table table-bordered table-striped table-responsive">
            <tr>
              <th>SkillName</th>
              <th>Experience</th>
            </tr>
            <tbody *ngFor="let skill of employeeObject.skills">
            <tr>
              <td>{{skill.skillName}}</td>
              <td>{{skill.experience}}</td>
            </tr>
            </tbody>
          </table>
          <b>Projects</b>
          <table class="table table-bordered table-striped table-responsive">
            <tr>
              <th>ProjectName</th>
              <th>Reporting To</th>
              <th>Delivery Head</th>
            </tr>
            <tbody *ngFor="let project of employeeObject.projects">
            <tr>
              <td>{{project.projectName}}</td>
              <td>{{project.reportingTo}}</td>
              <td>{{project.deliveryHead}}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


</div>

<div class="modal" id="delete" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Do you want to delete Employee from list?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button (click)="deleteEmployee(employeeObject)" type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
      </div>

    </div>
  </div>
</div>











