<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<!--

<div class="example-container mat-elevation-z8">
    <div class="example-header">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
-->


<table mat-table [dataSource]="employeeList" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container *ngFor="let column of displayedColumns">
        <ng-container matColumnDef="{{column}}">
            <th mat-header-cell *matHeaderCellDef>{{column}}
                &nbsp;<mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value,column)" placeholder="Filter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let employeeList"> {{employeeList[column]}} </td>
        </ng-container>
    </ng-container>

   <!-- <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let employeeList">
            <button mat-icon-button color="warn" (click)="deleteModel(employee)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
        </td>
    </ng-container>-->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let employeeList" class="action-link">
            <button mat-icon-button color="warn" (click)="deleteModel(employee)">
                <mat-icon class="mat-18">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


</table>
<mat-paginator [length]="100"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
